@font-face {
    font-family: 'ComicNeue';
    src: url(ComicNeue-Regular.ttf) format('truetype');
}

.comic{
    font-family:ComicNeue;
}

.name {
    margin-left: 400px;
    background: #0B537F;
    color: #3CD8DE;
    display: table;
    min-width:300px;
    padding-left: 20px;
    top: 220;
    padding-top:10px;
    position:absolute;
}

.specie {
    margin-left: 400px;
    background: #0B537F;
    color: #3CD8DE;
    display: table;
    min-width: 300px;
    padding-left: 20px;
    margin-bottom: 180px;
    top: 300;
    padding-top: 10px;
    position: absolute;
}

.episodies {
    margin-left: 400px;
    background: #5BB6B5;
    color: #3CD8DE;
    border: 1px solid #D4FCFF;
    display: block;
    min-width: 300px;
    padding-left: 20px;
    margin-bottom: 180px;
    top: 380;
    padding-top: 10px;
    position: absolute;
    height: 260px;
    overflow-x: hidden;
    overflow-y: auto;
}

.avatar {
    margin-left: 1075px;
    background: #0B537F;
    color: #3CD8DE;
    display: block;

    padding: 20px;
    top: 220;
    padding-top: 10px;
    position: absolute;
}

.avatar img {
width: 200px;
}

.status {
    margin-left: 900px;
    background: #CCBA3A;
    color: white;
    display: block;
    padding: 20px;
    top: 220;
    padding-top: 10px;
    position: absolute;
}

.origin {
    margin-left:810px;
    background: #CCBA3A;
    color: white;
    display: block;
    padding: 10px;
    top: 460;
    width:450px;
    padding-top: 10px;
    position: absolute;
}